<%= form_for(event) do |f| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="relative"><%= f.text_field :name, :placeholder => "Nazwa wydarzenia" %><%= f.submit  :value => "Zapisz", :class => "big-screen" %></div>
  <div style="margin-left: 15%; margin-top: 1rem;"><%= f.date_select :date %></div>
  <section class="song-list"><h2>Lista piosenek</h2>
  <ul class="sortable">
  <% event.songs.each do |song| %>
    <li class="song-desc song-in-list"><h3><%= song.name %></h3><p><%= raw song.text.split("\n")[0..1].join("<br />") %>…</p></div>
  <% end %>
  </ul>
  <%= f.submit  :value => "Zapisz", :class => "small-screen" %>
<% end %>
