<%= form_for(event, html: {class: "l-Form"}) do |f| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.text_field :name, :placeholder => "Nazwa wydarzenia", :class => "c-InputName" %>
  <%= f.label :date, "W dniu: " %><%= f.text_field :date, class: "c-InputDate", placeholder: "Data" %>
  <h2 class="c-SectionTagline">Lista piosenek</h2>
  <ul id="songs" class="c-SongsList">
  <% event.events_songs.each do |es| %>
    <li><button type="button" class="c-RemoveSongButton" title="Usuń piosenkę z listy" onclick="javascript:removeSong(this, '<%= es.song.id %>', '<%= es.song.name %>')">Usuń piosenkę z listy</button><%= hidden_field_tag "event_songs[#{es.song.id}]", "present" %><%= es.song.name %></li>
  <% end %>
  </ul>
<div class="c-Card">
<%= select_tag "song", options_from_collection_for_select(songs, "id", "name"), :prompt => "Wybierz piosenkę" %>
    <button type="button" onclick="addSongToList()">+</button>
</div>
<button class="c-Card c-CardButton u-MarginTop">Zapisz</button>
<% end %>
<script>


function removeSong(el, id, name) {
  $("#song").append("<option value='"+id+"'>"+name+"</option>");
  var options = $('select option');
  var arr = options.map(function(_, o) { return { t: $(o).text(), v: o.value }; }).get();
  arr.sort(function(o1, o2) { return o1.t > o2.t ? 1 : o1.t < o2.t ? -1 : 0; });
  options.each(function(i, o) {
    o.value = arr[i].v;
    $(o).text(arr[i].t);
  });
  $(el).parent().remove();
}
/*$("#songs").sortable({
  axis: 'y',
  appendTo: "parent",
  cursor: "move",
  forcePlaceholderSize: true,
  opacity: 0.7,
  helper: "clone",
  placeholder: "sortable-placeholder"
});*/

function startAddingSongs() {
  $("#new-song").css("transform", "rotateX(90deg)");
  setTimeout(function() {
    $("#new-song-list").css("transform", "rotateX(0deg)");
    $("select").removeAttr("disabled");
  }, 200);
}

function addSongToList()
{
  if(!$("option:selected").attr("value")) { alert("Wybierz piosenkę!"); return; }
  var id = $("option:selected").attr("value");
  var title = $("option:selected").text();
  $("option:selected").remove();
  $("#songs").append("<li><input type='hidden' name='event_songs["+id+"]' value='present' id='event_songs_"+id+"' />"+title+"<button type='button' onclick='javascript:$(this).parent().remove()'>&times;</button></li>");
}


</script>