<% content_for :title do %>Wydarzenia<% end %>

<a href="<%= new_event_path %>" class="card event-desc new-event">
  <div class="event">
    <h2>Nowe wydarzenie</h2>
  </div>
</a>
<% events.each do |event| %>
<a href="<%= event_path(event) %>" class="card event-desc">
  <div class="event">
    <h2><%= event.name %><% if event.date %><span><%= event.date %></span><% end %></h2>
    <% if event.songs.any? %><ol>
      <% event.songs.each do |song| %>
      <li><%= song.name %></li>
      <% end %>
    </ol>
    <% end %>
  </div>
</a>
<% end %>