<% content_for :title do %><%= event.desc %><% end %>
<section>
  <h1><%= event.name %></h1>
  <% if event.date %><h2><%= event.date %></h2><% end %>
</section>
<% event.events_songs.each do |es| %>
  <section>
    <section><h1><%= es.song.name %></h1></section>
    <% if es.song.chorus %>
      <section><p><%= raw es.song.chorus %></p></section>
    <% end %>
    <% es.song.verses.each do |v| %>
      <section><p><%= raw v %></p></section>
      <% if es.song.chorus %>
      <section><p><%= raw es.song.chorus %></p></section>
      <% end %>
    <% end %>
  </section>
<% end %>

