<% content_for :title do %><%= event.name %><% if event.date %> (<%= event.date %>)<% end %><% end %>
<section class="l-HalfContent">
  <h1><%= event.name %><% if event.date %><span class="c-AdditionalInfo"><%= event.date %></span><% end %></h1>
  <%= link_to "Prezentacja", event_presentation_path(event), :class => "c-Card c-CardButton" %>
  <div class="c-CardButtonsContainer">
    <%= link_to "Edytuj", edit_event_path(event), :class => "c-Card c-CardButton u-Half" %>
    <%= link_to "Usuń", (event), :class => "c-Card c-CardButton u-Half c-CardButton-Warning", :data => {confirm: "Na pewno usunąć to wydarzenie?"}, :method => :delete %>
  </div>
</section>

<section class="l-HalfContent">
  <% if event.songs %>
    <ol>
      <% event_songs.each do |e| %>
      <li><%= link_to e.song.name, e.song %></li>
      <% end %>
    </ol>
  <% end %>
</section>