<% content_for :title do %><%= event.name %><% if event.date %> (<%= event.date %>)<% end %><% end %>
<aside class="filler">&nbsp;</aside>
<section>
  <% if event.songs %>
  <h2>Piosenki</h2>
    <ol>
      <% event_songs.each do |e| %>
      <li><%= link_to e.song.name, e.song %></li>
      <% end %>
    </ol>
  <% end %>
</section>
<aside class="filler"><%= link_to "Edytuj", edit_event_path(event), :class => "button" %><br /><%= link_to "Usuń", event, :class => "button", :data => {confirm: "Na pewno usunąć?"}, :method => :delete %></aside>