<%= form_for(song) do |f| %>
  <% if song.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(song.errors.count, "error") %> prohibited this song from being saved:</h2>

      <ul>
      <% song.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="relative"><%= f.text_field :name, :placeholder => "Tytuł", :class => :title %><%= f.submit  :value => "Zapisz", :class => "big-screen" %></div>
  <%= f.text_area :text, :placeholder => "Tekst piosenki", :class => "autosize" %>
  <%= f.submit  :value => "Zapisz", :class => "small-screen" %>
<% end %>