<% content_for :title do %>„<%= song.name %>”<% end %>
<aside class="filler">
  <% if song.events %>
    <h2>Wydarzenia</h2>
    <ul>
    <% song.events.each do |e| %>
      <li><%= link_to e.desc, e %></li>
    <% end %>
    </ul>
  <% else %>&nbsp;<% end %></aside>
<section>
  <% if song.chorus %><p><strong><%= raw song.chorus %></strong></p><% end %>
  <% song.verses.each do |v| %>
    <p><%= raw v %></p>
  <% end %>
</section>
<aside class="filler"><%= link_to "Edytuj", edit_song_path(song), :class => "button" %><br /><%= link_to "Usuń", song, :class => "button", :data => {confirm: "Na pewno usunąć?"}, :method => :delete %></aside>