<% content_for :title do %>„<%= song.name %>”<% end %>

<section class="l-HalfContent">
  <h1>„<%= song.name %>”</h1>
  <div class="c-CardButtonsContainer">
    <%= link_to "Edytuj", edit_song_path(song), :class => "c-Card c-CardButton u-Half" %>
    <%= link_to "Usuń", (song), :class => "c-Card c-CardButton u-Half c-CardButton-Warning", :data => {confirm: "Na pewno usunąć tę piosenkę?"}, :method => :delete %>
  </div>
</section>

<section class="l-HalfContent">
<% if song.chorus %>
  <p>
    <strong><%= raw song.chorus %></strong>
  </p>
<% end %>
<% song.verses.each do |v| %>
  <p><%= raw v %></p>
<% end %>
</section>