<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %> » SongPrompter</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= params[:controller] %>">
  <header class="indicator">
    <nav>
      <%= link_to (raw "<i class='icon home'></i>"), root_path %><%= link_to (raw "<i class='icon music'></i>"), songs_path %><%= link_to (raw "<i class='icon calendar'></i>"), events_path %>
    </nav>
    <h1><%= yield :title %></h1>
  </header>
  <article class="wrapper">
    <%= yield %>
  </article>
  <footer>
    SongPrompter, Stanisław Chmiela, &copy; 2013
  </footer>
</body>
</html>
