<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %> » SongPrompter</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= params[:controller] %>">
  <header class="indicator">
    <nav>
      <%= link_to (image_tag "home.svg", :class => "svg", :alt => "Strona główna"), root_path %>
      <%= link_to (image_tag "audio.svg", :class => "svg", :alt => "Piosenki"), songs_path %>
      <%= link_to (image_tag "events.svg", :class => "svg", :alt => "Wydarzenia"), events_path %>
    </nav>
    <h1><%= yield :title %></h1>
  </header>
  <article class="wrapper">
    <%= yield %>
  </article>
  <footer>
    SongPrompter, Stanisław Chmiela, &copy; 2013
  </footer>
</body>
</html>
